<!--emoji-->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!--emoji-->
<!--magnetic mouse-->
<script src="https://rioukevin.gitlab.io/magnetic_cursor/js/lib/magnetCurs.js"></script>
<!--magnetic mouse-->