<!--Favicons/apps icons-->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?a=a">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png?a=a">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png?a=a">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png?a=a">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png?a=a">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png?a=a">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png?a=a">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?a=a">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png?a=a">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?a=a">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png?a=a">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?a=a">
<link rel="manifest" href="/favicon/site.webmanifest?a=a">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?a=a" color="#333333">
<link rel="shortcut icon" href="/favicon/favicon.ico?a=a">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?a=a">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?a=a">
<meta name="theme-color" content="#555555">
<!--Favicons/apps icons-->