<header class="targetable">
    <div id="social">
        <a target="_blank" href="https://twitter.com/intent/tweet?text=Hello%20everyone,%20look%20at%20RIOU%20Kévin%20here%20a%20web%20developers%20http://kevin.riou.pro">
            <svg viewBox="0 0 283.465 283.465" id="twitter">
                <path d=" M 145 105 C 104.049 102.978 70.225 85.821 43.5 53.5 C 32.615 81.615 37.791 103.625 59 119.5 C 53 120.667 45.677 118.843 37 114 C 36.429 136.667 48.439 153.011 73 163 C 67.333 165.5 61.01 165.677 54 163.5 C 60.996 183.96 75.673 195.47 98 198 C 76.333 214.667 52.677 221.343 27 218 C 129 279 248 209.5 246 94.5 C 258.462 84.601 266.138 76.111 269 69 C 258.877 72.911 250.553 75.254 244 76 C 251.667 68.333 258.01 59.343 263 49 C 249.234 56.151 239.077 60.328 232.5 61.5 C 194.75 26.417 136.76 51.427 145 105 Z " />
            </svg>
        </a>
        <a target="_blank" href="https://discord.gg/8tuyYXV">
            <svg viewBox="0 0 33 36" id="discord">
                <path d=" M 18.028 17.1 C 18.028 15.996 18.895 15.1 19.963 15.1 C 21.031 15.1 21.898 15.996 21.898 17.1 C 21.898 18.204 21.031 19.1 19.963 19.1 C 18.895 19.1 18.028 18.204 18.028 17.1 Z  M 11.102 17.1 C 11.102 15.996 11.969 15.1 13.037 15.1 C 14.105 15.1 14.972 15.996 14.972 17.1 C 14.972 18.204 14.105 19.1 13.037 19.1 C 11.969 19.1 11.102 18.204 11.102 17.1 Z  M 29.028 0 L 3.87 0 C 1.767 -0.012 0.043 1.635 0 3.7 L 0 28 C 0.004 28.998 0.416 29.952 1.144 30.648 C 1.872 31.344 2.854 31.723 3.87 31.7 L 25.259 31.7 L 24.241 28.4 L 26.685 30.5 L 28.926 32.5 L 33 35.9 L 33 3.7 C 32.873 1.633 31.137 0.016 29.028 0 Z  M 21.796 23.5 C 21.796 23.5 21.083 22.7 20.574 22 C 21.903 21.691 23.087 20.951 23.935 19.9 C 23.243 20.304 22.529 20.671 21.796 21 C 20.91 21.358 19.988 21.626 19.046 21.8 C 17.427 22.051 15.777 22.051 14.157 21.8 C 13.213 21.636 12.291 21.367 11.407 21 C 11 20.8 10.491 20.6 9.981 20.4 C 9.88 20.4 9.88 20.3 9.778 20.3 L 9.676 20.3 C 9.512 20.191 9.342 20.091 9.167 20 C 9.987 21.034 11.133 21.773 12.426 22.1 C 11.815 22.8 11.204 23.6 11.204 23.6 C 7.028 23.5 5.5 20.9 5.5 20.9 C 5.567 17.237 6.509 13.64 8.25 10.4 C 9.766 9.233 11.621 8.568 13.546 8.5 L 13.75 8.7 C 11.949 9.049 10.267 9.84 8.861 11 C 8.861 11 9.269 10.8 9.981 10.5 C 11.337 9.906 12.782 9.535 14.259 9.4 L 14.565 9.4 C 15.816 9.25 17.082 9.25 18.333 9.4 C 20.324 9.623 22.256 10.199 24.037 11.1 C 22.662 10.012 21.064 9.228 19.352 8.8 L 19.657 8.5 C 21.583 8.568 23.437 9.233 24.954 10.4 C 26.695 13.64 27.637 17.237 27.704 20.9 C 26.195 22.544 24.05 23.488 21.796 23.5 Z "
                fill-rule="evenodd" />
            </svg>  
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/kévin-riou-440711125">
            <svg viewBox="0 0 100 100" id="linkedin">
                <path d=" M 2.375 9.375 L 2.375 90.25 C 2.083 94.375 4.552 96.927 9.75 97.875 L 89.625 97.875 C 94.042 98.083 96.802 95.552 97.875 90.25 L 97.875 9.375 C 97.458 5.042 94.718 2.552 89.625 1.875 L 9.75 1.875 C 4.708 2.375 2.26 4.885 2.375 9.375 Z  M 16.375 37.875 L 16.375 83.5 L 30.75 83.5 L 30.75 37.875 L 16.375 37.875 Z  M 23.375 15.5 C 35.125 15.875 35.375 31.375 23.375 31.875 C 12 31.875 11.75 15.625 23.375 15.5 Z  M 39.625 83.5 L 39.625 37.875 L 53.125 37.875 L 53.125 44 C 63.375 30.375 83.25 36.875 83.5 52.25 L 83.5 83.5 L 69.5 83.5 L 69.5 56.25 C 68.5 46.375 54 47.125 54.125 56.25 L 54.125 83.5 L 39.625 83.5 Z "
                    fill-rule="evenodd" />
            </svg>
        </a>
    </div>
</header>