<!--Other-->
<meta name="google" content="nositelinkssearchbox">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="RIOU Kévin">
<meta name="Category" content="Portfolio">
<meta name="Copyright" content="RIOU Kévin">
<meta name="generator" content="Visual Studio Code">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#000000">
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Quimper",
        "addressRegion": "FR",
        "postalCode": "29000"
      },
      "email": "riou.kkevin@gmail.com",
      "image": "https://kevin.riou.pro/favicon/android-chrome-512x512.png?a=a",
      "name": "RIOU Kévin",
      "birthPlace": "Quimper",
      "birthDate": "1998-07-15",
      "height": "69 inches",
      "gender": "male",
      "nationality": "Français",
      "telephone": "(+33)0618260849",
      "url": "https://kevin.riou.pro/who",
        "sameAs" : [ "https://www.linkedin.com/in/kévin-riou-440711125/"]
    }
</script>
<!--Other-->