.page article:first-child{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
}
@media screen and (min-width: 745px){
    .page article:first-child{
        left: 40vw;
        width: 60vw;
    }
}

.page article:first-child h1{
    margin: 0 5vw 0 5vw;
    font-size: 8vh;
    text-transform: uppercase;
    font-family: 'sb';
    max-width: 80vw;
    transition-duration: 300ms;
    letter-spacing: 5px;
}
@media screen and (min-width: 745px){
    .page article:first-child h1{
        max-width: 50vw;
    }
}

.page article:first-child h2{
    margin: 0vh 5vw 0 5vw;
    font-size: 5vh;
    text-transform: uppercase;
    font-family: 'sb';
    max-width: 80vw;
    transition-duration: 300ms;
}
@media screen and (min-width: 745px){
    .page article:first-child h2{
        max-width: 50vw;
    }
}

.page article:first-child h3{
    margin: 0vh 5vw 0 5vw;
    font-size: 3vh;
    text-transform: uppercase;
    font-family: 'sb';
    color: var(--third-color-8);
    max-width: 80vw;
    transition-duration: 300ms;
}
@media screen and (min-width: 745px){
    .page article:first-child h3{
        max-width: 50vw;
    }
}

.page article:first-child p{
    margin: 2vh 5vw 2vh 5vw;
    font-size: 2vh;
    font-family: 'lt';
    max-width: 80vw;
    transition-duration: 300ms;
    letter-spacing: 2px;
}
@media screen and (min-width: 745px){
    .page article:first-child p{
        max-width: 50vw;
        font-size: 4vh;
    }
}
.page article:first-child p a{
    color: var(--third-color);
}
.separator{
    margin-left: 5vw;
}

.page article:first-child *{
    opacity: 0;
}
.active_page article:first-child *{
    opacity: 1;
    transition-delay: 400ms;
}

#map{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 120;
    transition-duration: 700ms;
}
.map-close #map{
    top: 100vh;
}
.map-open #map{
    top: 0;
}
@media screen and (min-width: 745px){
    .map-close #map{
        top: 0;
    }
    #map{
        width: 40vw;
        height: 100vh;
    }
}


#maptoggle{
    width: 14vh;
    height: 7vh;
    position: fixed;
    bottom: 1vh;
    left: 4vh;
    z-index: 150;
    line-height: 7vh;
    font-size: 4vh;
    color: var(--third-color);
    text-decoration: underline;
    font-family: 'bd';
    letter-spacing: 5px;
}
@media screen and (min-width: 745px){
    #maptoggle{
        display:none;
    }
}




.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    color: var(--second-color-8) !important;
    border: 0px solid red !important;
    background-color: rgba(0, 0, 0, 0) !important;
    transition-duration: 300ms;
}
.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover{
    transform: scale(1.8);
}
.leaflet-control-zoom{
    margin-top: 50vh !important;
    border: 0px solid red !important;
    background-color: rgba(0, 0, 0, 0);
}
.leaflet-control-attribution a{
    color: var(--second-color-8) !important;
}

.map-open header .navbar{
    background-color:var(--second-color-8);
}
@media screen and (min-width: 745px){
    header .navbar{
        background-color:var(--second-color-8);
    }
}

.map-open #navbtn .navbar{
    background-color: var(--second-color-8);
}
@media screen and (min-width: 745px){
    .map-open #navbtn .navbar{
        background-color: var(--clear-color);
    }
}

